/* SlickCarousel.css */
/* .slick-prev {
  left: -30px;
  background-image: url("https://i.imgur.com/ao7qeXi.png");
  width: 15px;
  height: 49px;
}

.slick-next {
  right: -30px;
  background-image: url("https://i.imgur.com/AhkEkP6.png");
  width: 15px;
  height: 49px;
}

.slick-prev,
.slick-next {
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  padding: 0;
  z-index: 100;
  transform: translateY(-50%);
  overflow: hidden;
  text-indent: 1000px;
}

.slick-prev:focus,
.slick-next:focus {
  outline: none;
}

.slick-prev:hover,
.slick-next:hover {
  cursor: pointer;
} */
